html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: black;
}

/* Page blocks */

body {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #666666;
	color: white;
}

header nav {
	margin-left:auto;
	margin-right:auto;
	max-width:40rem;
	padding: 0.5rem 0px;
	clear: both;
}

#site-title {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1.5em;
}

#site-links {
	display: inline-block;
	text-align: right;
	width: 50%;
}

header a, header a:link, header a:active, header a:visited {
	color: white;
}

main {
	margin-left:auto;
	margin-right:auto;
	max-width:40rem;
}

footer {
	margin-top: 4rem;
	background-color: #666666;
	color: #cccccc;
	text-align: center;
}

footer ul {
	margin: 0px;
	padding: 1rem 0px;
}

footer li {
	display: inline-block;
	margin: 0px 3rem;
	padding: 0px;
}

footer a, footer a:link, footer a:active, footer a:visited {
	color: #cccccc;
}

/* Global styles */

h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	margin: 1em 0em;
	padding: 0px;
}

a[href] {
	text-decoration: none;
}

a:link {
	color: #0D47A1;
}

/* Special styles */

div.description {
	margin: 1em 0em;
	padding: 0px;
}

div.description p:first-child {
	margin-top: 0px;
}

div.description p:last-child {
	margin-bottom: 0px;
}

div.keywords p, div.keywords ul, div.keywords li,
div.dataTypes p, div.dataTypes ul, div.dataTypes li,
ul.locations, ul.locations li {
	display: inline-block;
	vertical-align: middle;
}

div.keywords ul, div.dataTypes ul {
	max-width: 35rem;
}

div.keywords ul, div.dataTypes ul, ul.locations {
	padding: 0px;
	margin: 0px;
}

div.keywords li, div.dataTypes li, ul.locations li {
	border-radius: 1rem;
	padding: 0.5rem;
	margin: 0.25rem;
}

div.keywords li {
	background-color: #E3F2FD;
}

div.dataTypes li {
	background-color: #FFF8E1;
}

ul.locations li {
	background-color: #E8F5E9;
}

p.error {
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0em;
	background-color: #FFCDD2;
}

p.message {
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0em;
	background-color: #DCEDC8;
}

div.result {
	border: 2pt solid #EEEEEE;
	border-radius: 1rem;
	padding: 0rem 1rem;
	margin: 1rem 0rem;
}

div.result p.name {
	border: 2pt solid #EEEEEE;
	border-radius: 1rem 1rem 0rem 0rem;
	background-color: #EEEEEE;
	font-size: 1.5em;
	padding: 1rem;
	margin: -2pt -1rem 0rem;
}

#search_form fieldset {
	border: 1px solid #999999;
	border-radius: 1em;
}
div.grid {
	display: table;
	border-collapse: separate;
	border-spacing: 0px 1em;
}
div.grid p {
	display: table-row-group;
}
div.grid p label {
	display: table-row;
}
div.grid p label span, div.grid p label input, div.grid p label select {
	display: table-cell;
}
div.grid p label span:after {
	content: ':';
}
div.grid p label input, div.grid p label select {
	margin-left: 0.667em;
	padding: 0.333em;
	border-radius: 0.333em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 20rem;
}
