<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}{% if self.title() %} – {% endif %}Metadata Standards Catalog</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <p id="site-title">
        <a href="{{ url_for('hello') }}">Metadata Standards Catalog</a>
      </p><p id="site-links">
        <a href="{{ url_for('search') }}">Search the Catalog</a>
      </p>
    </nav>
  </header>
  <main>
  <h1>{% if self.title() %}{{ self.title() }}{% else %}Metadata Standards Catalog{% endif %}</h1>
  {% if error %}
  <p class="error">{{ error|safe }}</p>
  {% endif %}
  {% if message %}
  <p class="message">{{ message|safe }}</p>
  {% endif %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <p class="{{ category }}">{{ message|safe }}</p>
  {% endfor %}
  {% endwith %}
  {% block main %}{% endblock %}
  </main>
  <footer>
    <ul>
      <li><a href="http://www.github.com/rd-alliance/metadata-catalog-dev"><i class="fa fa-github-square"></i> github</a></li>
      <li><a href="https://twitter.com/resdatall"><i class="fa fa-twitter-square"></i> @twitter</a></li>
      <li><a href="http://www.linkedin.com/profile/view?id=272003890&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin-square"></i> linkedin</a></li>
      <li><a href="https://www.facebook.com/pages/Research-Data-Alliance/459608890798924"><i class="fa fa-facebook-square"></i> facebook</a></li>
    </ul>
  </footer>
</body>
</html>
