{% extends "base.html" %}
{% block title %}{{ record['title'] }}{% endblock %}
{% block main %}
  {% if 'description' in record %}
  <div class="description">{{ record['description']|safe }}</div>
  {% endif %}
  {% if 'keywords' in record %}
  <div class="keywords">
    <p>Used in</p>
    <ul>
    {% for keyword in record['keywords'] %}
      <li><a href="{{ url_for('subject', subject=toSlug(keyword)) }}">{{ keyword }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'dataTypes' in record %}
  <div class="dataTypes">
    <p>Used for</p>
    <ul>
    {% for type in record['dataTypes'] %}
      <li><a href="{{ url_for('dataType', dataType=toSlug(type)) }}">{{ type }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'locations' in record %}
  <div class="locations">
    <h2>Documentation</h2>
    <ul class="locations">
    {% for location in record['locations'] %}
      {% if location['type'] == 'website' %}
      <li><a href="{{ location['url'] }}">Visit website</a></li>
      {% elif location['type'] == 'document' %}
      <li><a href="{{ location['url'] }}">View specification</a></li>
      {% else %}
      <li><a href="{{ location['url'] }}">View specification in {{ location['type'] }} format</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'maintainers' in relations or 'funders' in relations %}
  <div class="organizations">
    <h2>Responsible organizations</h2>
    <ul>
    {% for org in relations['maintainers'] %}
      <li>
        <p>Maintainer: <a href="{{ url_for('group', maintainer=org.eid) }}">{{ org['name'] }}</a></p>
      {% if 'locations' in org %}
        <ul class="locations">
        {% for location in org['locations'] %}
          <li><a href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    {% for org in relations['funders'] %}
      <li>
        <p>Funder: <a href="{{ url_for('group', funder=org.eid) }}">{{ org['name'] }}</a></p>
      {% if 'locations' in org %}
        <ul class="locations">
        {% for location in org['locations'] %}
          <li><a href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'samples' in record %}
  <div class="samples">
    <h2>Samples</h2>
    <ul>{% for sample in record['samples'] %}
      <li><a href="{{ sample['url'] }}">{{ sample['title'] }}</a></li>
    {% endfor %}</ul>
  </div>
  {% endif %}
  <div class="identifiers">
    <h2>Identifiers</h2>
    <ul>
    {% for identifier in record['identifiers'] %}
      {% if identifier['scheme'] == 'RDA-MSCWG' %}
      <li>Internal MSC ID: <a href="{{ url_for('scheme', number=identifier['id'][5:]) }}">{{ identifier['id'] }}</a></li>
      {% elif identifier['scheme'] == 'DOI' %}
      <li>DOI: <a href="http://doi.org/{{ identifier['id'][4:] }}">{{ identifier['id'] }}</a></li>
      {% else %}
      <li>{{ identifier['scheme'] }}: {{ identifier['id'] }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% if versions %}
  <div class="versions">
    <h2>Version history</h2>
    <ul>
    {% for version in versions %}
      <li>
        <p>{{ version['date'] }}: version {{ version['number'] }}{% if 'status' in version %} ({{ version['status'] }}){% endif %}</p>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if hasRelatedSchemes %}
  <div class="related_schemes">
    <h2>Relationships to other metadata standards</h2>
    <ul>
    {% for parent in relations['parents'] %}
      <li><p>This scheme is a profile of <a href="{{ url_for('scheme', number=parent.eid) }}">{{ parent['title'] }}</a>.</p></li>
    {% endfor %}
    {% for child in relations['children'] %}
      <li><p><a href="{{ url_for('scheme', number=child.eid) }}">{{ child['title'] }}</a> is a profile of this scheme.</p></li>
    {% endfor %}
    {% for mapping in relations['mappings from'] %}
      <li class="mappings">
        <p>This scheme can be mapped to <a href="{{ url_for('scheme', number=mapping['output scheme'].eid) }}">{{ mapping['output scheme']['title'] }}</a>.</p>
        {% if 'description' in mapping %}
        <div class="description">{{ mapping['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in mapping %}
        <ul class="locations">
        {% for location in mapping['locations'] %}
          <li><a href="{{ location['url'] }}">{% if location['type'] == 'document' %}View documentation{% else %}Download {{ location['type'] }}{% endif %}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
    {% for mapping in relations['mappings to'] %}
      <li class="mappings">
        <p>This scheme can be mapped from <a href="{{ url_for('scheme', number=mapping['input scheme'].eid) }}">{{ mapping['input scheme']['title'] }}</a>.</p>
        {% if 'description' in mapping %}
        <div class="description">{{ mapping['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in mapping %}
        <ul class="locations">
        {% for location in mapping['locations'] %}
          <li><a href="{{ location['url'] }}">{% if location['type'] == 'document' %}View documentation{% else %}Download {{ location['type'] }}{% endif %}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'tools' in relations %}
  <div class="tools">
    <h2>Tools</h2>
    <ul>
    {% for tool in relations['tools'] %}
      <li>
        <p><a href="{{ url_for('tool', number=tool.eid) }}">{{ tool['title'] }}</a></p>
        {% if 'description' in tool %}
        <div class="description">{{ tool['description']|safe }}</div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'users' in relations %}
  <div class="users">
    <h2>Known users</h2>
    <ul>
    {% for user in relations['users'] %}
      <li>
        <p><a href="{{ url_for('group', user=user.eid) }}">{{ user['name'] }}</a></p>
        {% if 'description' in user %}
        <div class="description">{{ user['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in user %}
        <ul class="locations">
        {% for location in user['locations'] %}
          <li><a href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'endorsements' in relations %}
  <div class="endorsements">
    <h2>Endorsements of this scheme</h2>
    <ul>
    {% for endorsement in relations['endorsements'] %}
      <li>
        {% if 'citation' in endorsement %}
        <p>{{ endorsement['citation'] }}</p>
        {% elif 'originator' in endorsement %}
        <p>{{ endorsement['originator'] }}</p>
        {% endif %}
        {% if 'valid from' in endorsement %}
        <p>Endorsed {% if 'valid until' in endorsement %}between {{ endorsement['valid from'] }} and {{ endorsement['valid until'] }}{% else %}since {{ endorsement['valid from'] }}{% endif %}</p>
        {% elif 'issued' in endorsement %}
        <p>Endorsed on {{ endorsement['issued'] }}</p>
        {% endif %}
        {% if 'locations' in endorsement %}
        <ul class="locations">
        {% for location in mapping['locations'] %}
          <li><a href="{{ location['url'] }}">View endorsement</a></li>
        {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}</ul>
  </div>
  {% endif %}
{% endblock %}
