{% extends "base.html" %}
{% block title %}Search the Catalog{% endblock %}
{% block main %}
  <div id="search_form">
    <form action="{{ url_for('search') }}" method="post"  accept-charset="utf-8">
      <!--
      <fieldset>
        <p>
          <label><input type="radio" name="boolean" value="all"> All of these</label>
          &emsp;
          <label><input type="radio" name="boolean" value="any" checked> Any of these</label>
        </p>
      </fieldset>
      -->
      <p>Search for schemes that match any of the following criteria:</p>
      <div class="grid">
        <p>
          <label>
            <span>Name of scheme</span>
            <input name="title" list="titles">
            <datalist id="titles">
              {% for item in titles %}
              <option>{{ item }}</option>
              {% endfor %}
            </datalist>
          </label>
        </p>
        <p>
          <label>
            <span>Subject area</span>
            <input name="subject" list="subjects">
          </label>
          <datalist id="subjects">
            <label>
              <span>or select from the list</span>
              <select name="subject">
                <option value=""></option>
                {% for item in subjects %}
                <option>{{ item }}</option>
                {% endfor %}
              </select>
            </label>
          </datalist>
        </p>
        <p>
          <label>
            <span>Identifier</span>
            <input name="id" list="ids">
            <datalist id="ids">
              {% for item in ids %}
              <option>{{ item }}</option>
              {% endfor %}
            </datalist>
          </label>
        </p>
        {% if funders %}
        <p>
          <label>
            <span>Funder</span>
            <input name="funder" list="funders">
            <datalist id="funders">
              {% for item in funders %}
              <option>{{ item }}</option>
              {% endfor %}
            </datalist>
          </label>
        </p>
        {% endif %}
        {% if dataTypes %}
        <p>
          <label>
            <span>Data type</span>
            <input name="dataType" list="dataTypes">
            <datalist id="dataTypes">
              {% for item in dataTypes %}
              <option>{{ item }}</option>
              {% endfor %}
            </datalist>
          </label>
        </p>
        {% endif %}
      </div>
      <p><button>Submit</button></p>
    </form>
  </div>
{% endblock %}
