{% extends "base.html" %}
{% block title %}Search the Catalog{% endblock %}
{% block main %}
  <form action="{{ url_for('search') }}" method="post" accept-charset="utf-8" class="form-horizontal">
    <!--
    <fieldset>
      <p>
        <label><input type="radio" name="boolean" value="all"> All of these</label>
        &emsp;
        <label><input type="radio" name="boolean" value="any" checked> Any of these</label>
      </p>
    </fieldset>
    -->
    <p>Search for schemes that match any of the following criteria:</p>
    <div class="form-group">
      <label for="title" class="col-sm-3 control-label">Name of scheme</label>
      <div class="col-sm-9">
        <input id="title" name="title" list="titles" placeholder="Name of scheme" class="form-control">
        <datalist id="titles">
          {% for item in titles %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    <div class="form-group">
      <label for="keyword" class="col-sm-3 control-label">Subject area</label>
      <div class="col-sm-9">
        <input id="keyword" name="keyword" list="keywords" placeholder="Subject area" class="form-control">
        <datalist id="keywords">
          <label for="keyword-list" class="col-sm-4">or select from the list</label>
          <div class="col-sm-5">
            <select id="keyword-list" name="keyword" class="form-control">
              <option value=""></option>
              {% for item in subjects %}
              <option>{{ item }}</option>
              {% endfor %}
            </select>
          </div>
        </datalist>
      </div>
    </div>
    <div class="form-group">
      <label for="id" class="col-sm-3 control-label">Identifier</label>
      <div class="col-sm-9">
        <input id="id" name="id" list="ids" placeholder="Identifier" class="form-control">
        <datalist id="ids">
          {% for item in ids %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    {% if funders %}
    <div class="form-group">
      <label for="funder" class="col-sm-3 control-label">Funder</label>
      <div class="col-sm-9">
        <input id="funder" name="funder" list="funders" placeholder="Funder name" class="form-control">
        <datalist id="funders">
          {% for item in funders %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </label>
    </div>
    {% endif %}
    {% if dataTypes %}
    <div class="form-group">
      <label for="dataType" class="col-sm-3 control-label">Data type</label>
      <div class="col-sm-9">
        <input id="dataType" name="dataType" list="dataTypes" placeholder="Data type" class="form-control">
        <datalist id="dataTypes">
          {% for item in dataTypes %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
